ANTHROPIC_API_KEY.txt
OPENAI_API_KEY.txt
GOOGLE_API_KEY.txt
GROQ_API_KEY.txt
__pycache__
test_1.jpg
meme.jpg
test.py
chromedriver-mac-arm64/
chromedriver-mac-arm64.zip
full_screenshot.png
.DS_Store
images/